allow vendor_init proc_swap:file { open write };
allow vendor_init proc_dirty:file { open write };
allow vendor_init device:file { create open write };
