on boot
    chmod 0660 /sys/devices/platform/11007000.i2c0/i2c-0/0-0038/fts_glove_mode
    chown system system /sys/devices/platform/11007000.i2c0/i2c-0/0-0038/fts_glove_mode

service touch-hal-1-0 /system/bin/hw/lineage.touch@1.0-service.lenovo_x606
    interface vendor.lineage.touch@1.0::IGloveMode default
    class hal
    user system
    group system
