import /system/etc/init/hw/adb.rc

on boot
    # double tap 2 wake
    chmod 0660 /sys/devices/platform/11007000.i2c0/i2c-0/0-0038/fts_gesture_mode
    chown system system /sys/devices/platform/11007000.i2c0/i2c-0/0-0038/fts_gesture_mode

on charger
    chmod 0666 /dev/kmsg
    # Permissions for System Server and daemons.
    chown system system /sys/power/autosleep
    chown system system /sys/power/state
    chown system system /sys/power/wakeup_count
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chmod 0660 /sys/power/wakeup_count

on fs
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/product/overlay/FrameworkResOverlay/FrameworkResOverlay.apk /vendor/overlay/FrameworkResOverlay/FrameworkResOverlay.apk bind
    mount none /system/lib64/hw/android.hardware.power@1.3-impl-mediatek.so /vendor/lib64/hw/android.hardware.power@1.3-impl-mediatek.so bind
    mount none /system/lib/hw/android.hardware.power@1.3-impl-mediatek.so /vendor/lib/hw/android.hardware.power@1.3-impl-mediatek.so bind
